* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(to right,white , #fffebe)
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 20px;
    font-weight: 700;
    float: left;
    font-family: Poppins;
    color: #555;
}

.menu {
    float: right;
}

header {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: radial-gradient(#f5f9ee,#eef2e2);
    z-index: 1;
    font: Poppins;
}

.logo {
    text-decoration: none;
    color: #555;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header ul li {
    float: left;
}

header ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 30px 10px 30px 10px;
    text-decoration: none;
}

header ul li a:hover {
    background-color:white;
    color: #555;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.kolom .heading {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

h2 {
    font-weight: 300;
    font-size: 45px;
    margin-bottom: 20px;
    color: #555;
    width: 100%;
    line-height: 50px;
}

a.btn-biru {
    background-color: #555;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.btn-biru:hover {
    background-color:white;
    color: #555;
    text-decoration: none;
}

a.btn-pink {
    font-weight: bold;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 15px 40px;
    background-color:  cadetblue;
    cursor: pointer;
    box-shadow: 0 7px #555;
}
  
a.btn-pink:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.main {
    padding: 200px 0 200px 0;
    background-image: url(consulting.jpg);
    opacity:75%;
    background-size: cover;
    color:#FFFFFF;
    text-align: center;
}

.home {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    font-size: medium;
}
.home h1 {
    opacity: 100;
    font-weight: bold;
    font-size: 90px;
    letter-spacing: 3px;
    margin-bottom: 80px;
    margin-top: 50px;
    text-shadow: 3px 2px 1px grey;
}

.Quotes{
    align-items: center;
    padding: 200px 200px;
}

.Quotes h1{
    font-family: Cormorant Garamond;
    font-style: italic;
    font-weight: 400;
    text-align:center;
    font-size: 50px;
    color:#555;
}
.Quotes p{
    margin-top: 20px;
    font-weight: 300;
    text-align:center;
    font-size: 27px;
    color:#555;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    color:#555;
}

.tengah {
    padding-bottom: 100px;
    width: 100%;
}

#services {
    padding-bottom: 100px;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    background:linear-gradient(to right,white , #a4c3d2);
    font-weight: 700;
}

.lesson {
    float: left;
    width: 25%;
}
  
.lesson-icon {
    position:relative;
}

.lesson-icon img{
    max-width:85%;
    height:auto;
}
  
.lesson-icon p {
    position: absolute;
    top: 90px;
    width:100%;
    color:#555;
    text-align: center;
    
}
  
.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #555;
}

.tim-list {
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: 555;
}

.kartu-tim {
    width: 20%;
    margin: 0 auto;
}

.kartu-tim img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tim p {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #555;
}

#contact {
    background:linear-gradient(to right,white , #a4c3d2);
    padding:30px 0px 30px 0px;
    color:#555;
    font-weight: 700px;
}

#contact img {
    width: 80px;
    height: 80px;
}   
.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.footer-left {
    width: 500px;
    margin: auto;
    margin: auto;
    text-align: center;
}

.footer-right {
    padding-top: 90px;
    margin: 20px;
}

h3 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    color: #555;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}
